<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EmployeebookServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="EmployeebookServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44333/EmployeebookService.asmx"
                binding="basicHttpBinding" bindingConfiguration="EmployeebookServiceSoap"
                contract="EmployeeBookService.EmployeebookServiceSoap" name="EmployeebookServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>